# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Dataset
data/*
!data/.gitkeep

# Generated artifacts
artifacts/*
!artifacts/.gitkeep

*.faiss
*.pkl
*.gml

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db